.block-categories {
    .category-top-menu {
        .h6 {
            margin-bottom: 0;
        }
    }
    li {
        position: relative;
        &[data-depth]{
            a {
                display: block;
                font-size: 15px;
                line-height: 1;
                padding: 17px 0;
                position: relative;
                transition: .4s box-shadow;
                &:after{
                    border-bottom: 1px solid $clr-three;
                    bottom: 0;
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                }
            }
        }
        &[data-depth="0"] {
            > a {
                text-transform: uppercase;
            }
        }
        &[data-depth="1"] {
            a {
                font-size: 14px;
            }
        }
    }
    .navbar-toggler, .arrows{
        display: block;
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
        font-size: 13px;
        padding: 0;
        border: none;
        width: 40px;
        height: 40px;
        text-align: right;
        line-height: 40px;
    }
    .arrows{
        right: 5px;
    }
    .collapse-icons {
        &[aria-expanded="true"] {
            .add{
                display: none;
            }
            .remove {
                display: block;
            }
        }
        .remove {
            display: none;
        }
    }
    .arrows {
        &[aria-expanded="true"] {
            .arrow-down {
                display: none;
            }
           .arrow-up {
                display: block;
            }
        }
        .arrow-up {
            display: none;
        }
    }
}
/* Media */
@include media-breakpoint-down(md) {
    .block-categories {
        .h6 {
            &:after {
                display: none;
            }
        }
        .navbar-toggler,.arrows {
            font-size: 14px;
            text-align: center;
            cursor: pointer;
        }
    }
}