/* Variables */
@import "import/variables";

/* GENERALITES */
    /* Titres */
h1, .h1{
    font-size:3rem;
}
    /* Liens */
a{   
    &:focus{
        color:$shiraz;
        text-decoration: none;
    }
    &:hover,
    &:active{
        color:darken($shiraz,5%);
        text-decoration: none;
    }
}
    /* Boutons */
button.btn, a.btn, input.btn{
    background:$shiraz;
    &.disabled, &:disabled{
        background:lighten($shiraz, 10%);
    }
    &:hover, &:focus, &:active{
        background:darken($shiraz,10%);
        box-shadow:none;
    }
}
.grey_btn{
    display:inline-block;
    padding:8px 6px;
    color:#fff;
    background:$midgrey;
    border:1px solid transparent;
    transition:0.3s all;
    font-size:13px;
    &:hover, &:focus, &:active{
        background:#fff;
        border-color:$midgrey;
        color:$midgrey;
    }
}

    /* Formulaires */
form{
    .form-control:focus{ /* input, select, etc */
        border-color:$shiraz;
        border-width:1px;
    }
    .input-group .input-group-btn > .btn{ /* pseudo-bouton upload fichier */
        background:$shiraz;
        &:hover{
            background:darken($shiraz,10%);
        }
    }
    .custom-checkbox input[type="checkbox"] + span{ /* Checkbox */
        border:1px solid $midgrey;
    }
    .custom-checkbox input[type="checkbox"]:checked + span{ 
        border-color:#131331;
        background:$shiraz;
    }
    .custom-radio input[type="radio"]:checked + span{ /* radios */
        border-color:#000;
        -webkit-box-shadow: inset 0 0 0 6px $shiraz;
        box-shadow: inset 0 0 0 6px $shiraz;
    }
}

    /* Modals */
.modal{
    .modal-content{
        .close:hover{
            background:$shiraz;
        }
    }
}

    /* Breadcrumb */
#page .breadcrumb{
    li a:hover, li:last-child a{
        color:$shiraz;
    }
}

    /* Tableaux */
table.table{
    .thead-default{
        th{
            background:$shiraz;
            color:#fff;
        }
    }
}

/* Liste de produits */
@import "import/product-list";

/* HEADER */
#header{
    /* Nav */
    nav.header-nav{
        background-color:#000;
        /* Telephone header */
        #_desktop_contact_link .header__contact{
            #header_contact_phone_label{
                margin-right:10px;
            }
            #header_contact_phone_value{
                font-weight:700;
                a{
                    &:hover{
                        color:$shiraz;
                    }
                    img{
                        display: inline-block;
                        margin-right: 5px;
                        height: 14px;
                        width: auto;
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }
        /* Bloc panier */
        #_desktop_cart{
            .blockcart {
                .cart-header{ /* Icone */
                    .inner-wrapper{
                        transition:0.3s all;
                        &:hover{
                            color:#fff;
                            transform: scale(1.1);
                        }
                        .cart-products-count{ /* compeur produits */
                            background: $shiraz;
                        }
                    }
                }
                .cart-hover-content{ /* Recap panier */
                    ul{
                        li.cart-wishlist-item{
                            .product-price{
                                color:$shiraz;
                            }
                            .remove-from-cart:hover{
                                color:#131313;
                            }
                        }
                    }
                }
            }
        }
        /* Recherche */
        #_desktop_search_bar{
            .search-btn-toggle{
                padding: 5px 10px 5px 140px;
                border: 1px solid #5c5c5c;
                &:hover{
                    color:$shiraz;
                }
            }
        }
    }
}
body.is-not-index #header{ // Menu fixed sans image de fond, contrairement au theme parent
    background:#000;
}
@media (min-width: 992px){
    #header{
        nav.header-nav{
            height:$nav_height_desktop;
            padding:8px 0;
            border-bottom:0;
            .search-block{ // Pop-in recherche
                form.search-form{
                    background:rgba($shiraz, 0.92);
                    padding:10vh 10vw;

                }
                .search-close{
                    top:10vh;
                    right:10vw;
                    width: 40px;
                    height: 40px;
                    background:none;
                    font:40px/1 "fontello";
                    color:#fff;
                }
                .search-field input.input-text{
                    color:#fff;
                    border-bottom:2px solid #e5e5e5;
                    font-family:$lora_font;
                    &+.search-btn{
                        color:#fff;
                    }
                    &:focus{
                        border-color: #fff;
                        color: #fff;
                        &+.search-btn{
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}

/* Menu */
@import "import/menu";

/* HOMEPAGE */
#index{
    #wrapper{
        .headerslider{ /* Slider */
            .header-slide{
                .headerslider-figure{
                    padding-top:15%;
                    .caption-description{
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        top: unset;
                        bottom: 0;
                        transform: translate(0,0);
                        padding: 15px 0 0 0;
                        .container{
                            align-items: end;
                            .image{
                                img{
                                    max-height:60vh;
                                }
                            }
                        }
                    }
                }
            }
        }
        #htmlbanners10{ /* Banniere engagements */
            background-image: url('/themes/vigouroux/assets/img/banniere_engagements.jpg');
            margin:10rem 0;
            .htmlbanners10-inner{
                padding-left:50px;
                padding-right:50px;
                .feature-item-inner{
                    margin:0 25px;
                    .banner-description{
                        .reassurance_picto img{
                            width:80px;
                            height:auto;
                        }
                        .description p{
                            font-size:13px;
                            &.title-one{
                                font-size:15px; 
                            }
                        }
                        .headline-section{ /* Titre du bloc */
                            font-family: $lora_font;
                            font-weight:400;
                            font-size:48px;
                            text-align: center;
                            margin:0 0 0.5em 0;
                            line-height: 1.25em;
                        }
                        .description-section{ /* Phrase sous titre bloc */
                            max-width:unset;
                        }
                    }
                    .btn{ /* Bouton "Voir tout" */
                        background: $shiraz;
                        &:focus,
                        &:active,
                        &:hover{
                            background: lighten($shiraz, 10%);
                        }
                    }
                }
            }
        }
        #htmlbanners1{ /* Module "Top Banners" : vins de corbières, cuvées prestige et specialiste vins occitanie */
            .specialist-banner{
                background-color:$lightgrey;
                background-image:url(../img/croix_occitane_logo.gif), url(../img/verre_vin_rouge.jpg);
                background-position:5% 90%, right bottom;
                background-repeat:no-repeat;
                padding-top:12rem;
                padding-bottom:12rem;
                .banner-description{
                    > .container{
                        padding:0 10%;
                    }
                    .headline-section{
                        font-family:$lora_font;
                        font-weight:400;
                        font-size:5rem;
                        margin:0 0 4rem 0;
                    }
                    #specialist_banner_text{
                        margin:0 0 4rem 0;
                        font-size:14px;
                        line-height:2em;
                        color:#000;
                    }
                    #specialist_banner_logos{
                        text-align: center;
                        margin-bottom:8rem;
                        img{
                            display:inline-block;
                            margin:0 15px;
                        }
                    }
                }
            }
        }
        .testimonials-wrapper{ /* Temoignages */
            background-image:none;
            background-color:#000;
            .headline-section{ /* titre */
                font-family: $lora_font;
                font-weight:400;
                color:#fff;
            }
            .testimonials-item{
                .testimonials-description{
                    color:#fff;
                    &:before{ // quote ouvrante
                        color: $shiraz;
                    }
                    .testimonials-author{
                        color:$shiraz;
                    }
                }
            }
        }
        .home_blog_post_area { /* Blog */
            margin-top:0;
            padding-top: 15rem;
            padding-bottom: 12rem;
            .home_blog_title{
                font-family:$lora_font;
                font-weight:400;
                font-size:5rem;
                margin-bottom:8rem;
            }
        }
        #htmlbanners3{ /* Video */
            margin-top:0;
            .video-promo__wrapper{
                .video-promo__description{ // Texte
                    top:48%;
                    .headline-section{
                        font-family:$lora_font;
                        font-weight: 400;
                    }
                    h3{
                        font-size:6rem;
                        line-height:1.5em;
                        margin-bottom: 0;
                    }
                    h4{
                        font-size:3rem;
                        line-height: 1em;
                        margin-bottom:1em;
                    }
                    .description-section{
                        font-size:18px;
                        line-height:24px;
                    }
                }
                .video-promo__poster{ // Background du bloc
                    background-image:url('../img/homepage_video_bg.jpg');
                }
                .video-promo__button-box{
                    .video-promo__play em{
                        color:$shiraz;
                        &:hover{
                            border-color: $shiraz;;
                            -webkit-box-shadow: inset 0 0 0 2em $shiraz;;
                            box-shadow: inset 0 0 0 2em $shiraz;
                            color:#fff;
                        }
                    }
                }
            }
        }
        #manufacturers-home{ /* Listes des AOC (marques) */
            margin-top:0;
            margin-bottom:0;
            padding-top:12rem;
            padding-bottom:12rem;
            .headline-section{
                font-family:$lora_font;
                font-weight:400;
            }
            .description-section{
                font-size:18px;
                max-width:unset;
            }
            .manufacturers-list {
                margin:0;
                text-align: center;
                li{
                    display:block;
                    width:20%;
                    float:left;
                    padding:0;
                    margin:0;
                    img{
                        width:100px;
                        height:auto;

                    }
                }
            }
        }
    }
}
@media screen and (max-width:1365px){
    #index #wrapper{
        #htmlbanners1 .specialist-banner{
            padding-top:10rem;
            padding-bottom:10rem;
            background-size: 20% auto,auto 55%;
        }
    }
}
@media screen and (max-width:1199px){
    #index #wrapper{
        #htmlbanners3{ /* Video */
            .video-promo__wrapper{
                .video-promo__description{
                    top:10%;
                    transform: translate(0,0);
                }
                .video-promo__button-box{
                    margin-top:4%;
                }
            }
        }
    }
}
@media screen and (max-width:1023px){
    #index #wrapper{
        #htmlbanners1 .specialist-banner{ /* Bannieres Corbieres / Prestige / Specialistes */
            background-size: 20% auto,auto 50%;
            padding-top:6rem;
            padding-bottom:6rem;
            .headline-section{
                font-size:5rem;
            }
        }
        #htmlbanners10 .htmlbanners10-inner{ /* Engagements */
            padding-left:0;
            padding-right:0;
            .feature-item-inner{ 
                margin:0 5px;
            }
        }
        #htmlbanners3{ /* Video */
            .video-promo__wrapper{
                .video-promo__description{
                    top:6%;
                    h4{
                        margin-bottom: 0.5em;
                    }
                    .description-section{
                        font-size:16px;
                        line-height:22px;
                        margin-bottom:20px;
                    }
                }
                .video-promo__button-box{
                    margin-top:20px;
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    #index #wrapper{
        #htmlbanners10 .htmlbanners10-inner{ /* Engagements */
            .feature-item-inner{
                margin:0 10%;
                .banner-description{
                    overflow:hidden;
                    clear:both;
                    .headline-section,
                    .description-section{
                        text-align:left;
                    }
                    .reassurance_picto{
                        float:left;
                        width:80px;
                        margin-right:40px;
                    }
                    .description{
                        float:left;
                        width: calc(100% - 120px);
                        text-align: left;
                        p.title-one{
                            margin-top:0;
                        }
                    }
                }
            }
        }
        #htmlbanners1 .specialist-banner{  /* Bannieres Corbieres / Prestige / Specialistes */
            background-size: 30% auto;
            background-image:url(../img/verre_vin_rouge.jpg);
            background-position:right bottom;
            padding-bottom:8rem;
            .banner-description{
                > .container{
                    padding:0;
                }
                .headline-section{
                    font-size:4rem;
                    margin:0 0 2rem 0;
                    text-align: left;
                }
                #specialist_banner_text{
                    margin:0 0 2rem 0;
                    font-size:13px;
                    line-height:18px;
                    text-align: left;
                    padding-right:15%;
                }
                #specialist_banner_logos{
                    text-align: left;
                    margin-bottom:3rem;
                    img{
                        height:100px;
                        width:auto;
                        margin:0 50px 10px 0;
                    }
                }
            }
        }
        #htmlbanners3{ /* Video */
            .video-promo__wrapper{
                .video-promo__description{
                    height: 100%;
                    top: 0;
                    padding: 5% 0;
                    h3{
                        font-size:3rem;
                    }
                    h4{
                        font-size:1.5rem;
                    }
                    .description-section{
                        display:none;
                    }
                    .video-promo__button-box{
                        position: absolute;
                        top: 45%;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:599px){
    #index #wrapper{
        #htmlbanners10 .htmlbanners10-inner{ /* Engagements */
            .feature-item-inner{
                margin:0 5%;
                .banner-description{
                    .headline-section{
                        font-size:36px;
                    }
                    .description-section{
                        margin-bottom:30px;
                    }
                    .reassurance_picto{
                        width:60px;
                        margin-right:20px;
                        img{
                            width:100%;
                        }
                    }
                    .description{
                        width: calc(100% - 80px);
                    }
                }
            }
        }
        #htmlbanners1 .specialist-banner{
            padding-top:4rem;
            padding-bottom:4rem;
            .banner-description{
                #specialist_banner_logos img{
                    height:80px;
                    width:auto;
                    margin:0 25px 10px 0;
                }
            }
        }
    }
}
@media screen and (max-width:399px){
    #index #wrapper{
        #htmlbanners10 .htmlbanners10-inner{ /* Engagements */
            .feature-item-inner{
                .banner-description{
                    .reassurance_picto{
                        width:50px;
                        margin-right:10px;
                    }
                    .description{
                        width: calc(100% - 60px);
                    }
                }
            }
        }
        #htmlbanners1 .specialist-banner{
            .banner-description{
                .headline-section{
                    font-size:3rem;
                }
                #specialist_banner_text{
                    padding-right: 0;
                }
                #specialist_banner_logos img{
                    display:block;
                    width:auto;
                    height:auto;
                    max-width:160px;
                }
            }
        }
        #htmlbanners3 .video-promo__wrapper{ /* Video */
            .video-promo__description .video-promo__button-box{
                .video-promo__play em{
                    width:3em;
                    height:3em;
                }
            }
        }
    }
}

/* FOOTER */
#footer .footer-container{
    #facebook_block{ /* Blocs FB et liens reseaux sociaux */
        .block-social{
            display:block;
            max-width:100%;
            margin:30px 0;
            padding-left:0;
            padding-right:0;
            animation: unset;
            ul{
                display:block;
                text-align:left;
                li{
                    a:hover{
                        background:none;
                    }
                    &.facebook{
                        display:none;
                    }
                }
            }
        }
    }
    .block_newsletter{/* Formulaire Newsletter */
        h3{
            font-family: $lora_font;
        }
    }
    #footer_logo{
        max-height:40px;
        display: inline-block;
        vertical-align: baseline;
    }
    .footer-two{ /* Copyright et logos paiement */
        font-size:10px;
        line-height: 35px;
        .copyright{
            span:first-child{
                margin-right:40px;
            }
        }
        .payment-logos{
            text-transform:uppercase;
            img{
                display:inline-block;
                margin-left:5px;
                position: relative;
                top: -5px;
            }
        }
    }
}
@media (max-width: 575px) {
    #footer .footer-container{
        .footer-two{ 
            .copyright {
                order:unset;
                p{
                    line-height: 1.6em;
                    margin-bottom: 0.5em;
                    span{
                        display:inline-block;
                        width:100%;
                        &:first-child{
                            margin-right:0;
                        }
                    }
                }

            }
        }
    }
}

/* PAGES */

    /* Tunnel */
#cart .cart-grid .cart-overview{ /* Page recapitulative */
    .cart-items{
        .cart-item{
            .product-line-info{
                .value{
                    color:$shiraz;
                }
            }
            .product-line-actions{
                /* input quantite */
                .js-cart-line-product-quantity:focus{
                    border-color:$shiraz;
                }
                /* bouton + / - */
                .btn{
                    background:$shiraz;
                    &:hover{
                        background:darken($shiraz, 10%);
                    }
                }
            }
            .remove-from-cart:hover{
                color:$midgrey;
            }
        }
    }
}
#checkout{ /* 4 etapes */
    .checkout-step{
        border:none;
        .step-title{
            background:$shiraz;
            .step-number{
                padding-right:0;
                display:inline-block;
                &:after{
                    content:"-";
                    margin:0 5px;
                }
            }
            .step-edit{
                font-size:0;
            }
        }
        /* Infos personnelles */
        &#checkout-personal-information-step{
            ul[role="tablist"] li a{ /* Switch invite / connexion-inscription */
                border-color: #131313;
                border-width: 1px;
                border-radius: 0;
                &.active, &:hover{
                    background: #898989;
                }
            }
        }
        &#checkout-addresses-step{ /* Adresses */
            .address-item{
                &.selected{
                    border:2px solid #898989;
                }
                .address-footer{
                    a{
                        background:$shiraz;
                        &:hover{
                            background:lighten($shiraz, 10%);
                        }
                        &:focus, &:active{
                            background:darken($shiraz, 10%);
                            color:#fff;
                        }
                    }
                }
            }
            .add-address a{
                display: inline-block;
                line-height: 1.4em;
                padding: 4px 8px;
                color: #fff;
                background: #898989;
                border: 1px solid transparent;
                &:hover{
                    background:#f2f2f2;
                    color:#131313;
                    border-color:#131313;
                }
                i{
                    position:relative;
                    top:-2px;
                }
            }
        }
        &#checkout-delivery-step{ /* Livraison */
            .delivery-options-list .delivery-options{
                .delivery-option{
                    background:none;
                }
                #delivery_abroad_warning{
                    background:#f2f2f2;
                    padding: 15px;
                    margin:15px 0;
                    strong{
                        color:$shiraz;
                    }
                }
            }
        }
        &#checkout-payment-step{ /* Paiement */

        }
    }
    /* Colonne de gauche */
    #js-checkout-summary{
        .cart-summary-products{
            a[data-target="#cart-summary-product-list"]{
                display: inline-block;
                padding: 4px 8px;
                color: #fff;
                background: $midgrey;
                border: 1px solid transparent;
                &:hover{
                    border-color:#131313;
                }
                &[aria-expanded="true"]{
                    background:#fff;
                    color: $midgrey;
                    $border-color:$midgrey;
                }
            }
        }
    }
}
#order-confirmation{ /* Confirmation de commande */
    #main{
        .h1{
            font-weight: 700;
            color: #aa1135;
        }
        .h3{
            color:#aa1135;
        }
        #content-hook_payment_return{
            #check_address{
                display: inline-block;
                padding: 0.75rem 0;
                border-top: 1px solid $midgrey;
                border-bottom: 1px solid $midgrey;
            }
        }
    }
}
/* Contact */
#contact{
    .contact-rich{ /* Infos de contact (colonne) */
        h4{
            color:$shiraz;
        }
        .block{
            .icon{
                color:$shiraz;
            }
            .data{
                color:#000;
            }
        }
    }
    .contact-form{ /* Formulaire */
        #contact_form_page_title{
            font-size: 2.5rem;
            text-transform: uppercase;
            color: #aa1135;
            margin-bottom: 1rem;
        }
    }
}
/* Mon compte  */
#my-account{
    .page-header{
        h1{
            text-align: center;
            font-weight:700;
            color:$shiraz;
        }
    }
    #content .links{
        a{
            transition:0.2s all;
            .link-item{
                transition:inherit;
                border:2px solid $midgrey;
            }
            &:hover span{
                background:$shiraz;
                color:#fff;
            }
            &:focus{
                outline:none;
                span{
                    color:$shiraz;
                }
            }
        }
    }
}
/* Adresses */
#addresses{
    #customer_addresses_list{
        display:flex;
        flex-wrap:wrap;
        .customer_address_item{
            display: flex;
            position:relative;
            .address{
                padding:25px 20px 60px 20px;
                width:100%;
                border:1px solid $midgrey;
                .address-footer{
                    position: absolute;
                    bottom: 40px;
                    left: 20px;
                    width: calc(100% - 40px);
                    text-align: center;
                    a{
                        background:$shiraz;
                        &:hover{
                            background:lighten($shiraz,10%);
                        }
                    }
                }
            }
        }  
    }
    .addresses-footer{
        text-align:center;
        a{
            font-weight:700;
            background:$shiraz;
            &:hover{
                background:darken($shiraz, 10%);
            }
        }
    }
}
/* Historique de commandes */
#history{
    table{
        td.order-actions{
            a{
                font-weight:500;
                &:hover, &:focus, &:active{
                    color:$shiraz;
                }
            }
        }
    }
}
/* Mes donnees perso (RGPD dans mon compte) */
#module-psgdpr-gdpr{
    .psgdprinfo17{
        .psgdprgetdatabtn17{
            float:none;
            margin-top:1rem;
            margin-bottom:1rem;
        }
    }
}

/* Mes recompenses (module allinone_rewards) */
#module-allinone_rewards-rewards #main{
    #content{
        box-shadow: none;
        padding:0;
        #rewards_account{
            ul.idTabs{ /* Onglets */
                margin-bottom:0;
                li{
                    padding-right:0;
                    a{
                        border:1px solid #898989;
                        font-size:12px;
                        &.selected, &:hover{
                            color:$shiraz;
                        }
                    }
                }
            }
            .sheets{ /* Contenus */
                table{
                    th, td{
                        font-size:12px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:576px) and (max-width:800px){
    #module-allinone_rewards-rewards #main #content #rewards_account ul.idTabs li a{
        height:4em;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Editorial (CMS) */
#cms{
    #content{
        h2{
            color:$shiraz;
        }
        > section{
            margin-bottom:30px;
            &:last-child{
                margin-bottom:0;
            }
        }
        ul{
            list-style-type: disc; padding-left:30px;
        }
    }
    #page .page-footer{
        display:none;
    }
    &.cms-id-4{ /* Notre histoire */
        .page-header{
            display:none;
        }
        #about_us_intro{
            h1{
                text-transform:uppercase;
            }
            p{
                color:#7d7d7d;
            }
        }
        .about_us_row{
            padding:20px 0;
            .about_us_date{
                color:$shiraz;
                font-weight:700;
                font-size:24px;
                line-height: 1em;
                margin-bottom: 0.5em;
            }
            p{
                line-height: 18px;
                margin-bottom: 0.25em;
            }
            figure{
                margin:20px 0 0 0;
                &.about_us_img_banner{
                    margin:0;
                }
                figcaption{
                    font-weight: 100;
                    font-style: italic;
                    margin-top: 20px;
                    color: $shiraz;
                }
            }
        }
    }
    &.cms-id-9{ /* Service client */
        .customer_service_section{
            display: flex;
            .customer_service_section_content{
                border:1px solid $midgrey;
                background-color:$lightgrey;
                text-align:center;
                padding: 20px 40px;
                margin:30px;
                .customer_service_section_icon{
                    margin-bottom:20px;
                    i{
                        font-size:10rem;
                        color:$shiraz;
                    }  
                }
                > div{
                    &:last-child{
                        a:hover{
                            color:$shiraz;
                        }
                        p{
                            font-size:14px;
                            &:first-child{
                                color:$shiraz;
                            }
                        }

                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px){
    #cms.cms-id-9{ /* Service client */
        .customer_service_section .customer_service_section_content{
            padding: 20px 20px;
            margin: 15px;
        }
    }
}
@media (min-width: 992px){
    #cms.cms-id-4 .about_us_row.about_us_banner_img_row{ /* Notre histoire */
        padding:20px 0 0 0;
    }
}
@media (max-width: 991px){
    #cms.cms-id-4 .about_us_row{ /* Notre histoire */
        padding:20px 15px;
        &.about_us_banner_img_row{
            .container{
                padding-left:0;
                padding-right:0;
            }
        }
    }
}
@media screen and (max-width:768px){
    #cms.cms-id-9{ /* Service client */
        .customer_service_section .customer_service_section_content{
            .customer_service_section_icon{
                margin-bottom:10px;
                i{
                    font-size:6rem;
                }  
            }
        }
    }
}

/* Nos caves (aka Magasins) */
#stores{
    .store-item{
        .store-name{
            font-family:$lora_font;
            margin-bottom:15px;
            color:$shiraz;
        }
        .material-icons{
            color:$shiraz;
        }
        address{
            margin-bottom:1.5rem;
        }
        .strore-phone,
        .strore-email{
            margin:0.25rem 0;
            line-height:1.25em;
        }
        .store-infos{
            color:$midgrey;
        }
    }
}
@media screen and (max-width:768px){
    #stores .store-item{
        .store-picture {
            img{
                margin-right: auto;
                margin-left: auto;
            }
            margin-bottom: 20px;
        }
        .store-contact{
            text-align: center;
            margin-bottom:20px;
        }
        .store-infos p{
            text-align: center;
        }
    }
}
@media screen and (max-width:575px){
    #stores .store-item{
        .store-name{
            font-size:24px;
        }
    }
}

/* Sitemap */
#sitemap{
    h2{
        margin-bottom: 10px;
        color:$shiraz;
    }
    a:hover{
        color:$shiraz;
    }
    ul.nested{
        padding-left:10px;
        margin-left:10px;
        border-left:1px solid $lightgrey;
    }
}


/* DIVERS */
@mixin grey_banner(){
    background-color:#f8f8f8;
}
    /* Blog */
    @import "import/blog";
#page .price{
    color:$shiraz;
}
#page .page-footer{
    text-align:center;
    padding-top:30px;
    a{
        background:$midgrey;
        &:hover{
           background: lighten($midgrey, 10%);
        }
    }
}
.form-footer{
    text-align: center;
}
body.search-fixed .ui-menu{ // Resultats de recherche (pop-in)
    background:#fff;
    border-radius: 0;
    box-shadow: 0px 3px 6px 0px rgba(40,40,40,0.65);
    .ui-menu-item a{
        color:#000;
        border-radius:0;
        &.ui-state-focus{
            background: #f5f5f5;
        }
    }
}
body #page .page-not-found #_desktop_search_bar{ /* Formulaire de recherche 404 */
    input.input-text{
        border-radius:0;
        &:focus{
            border-color:$shiraz;
        }
    }
    .search-btn{
        background:$shiraz;
        border-radius:0;
        margin-left:0;
    }
}   
@media (max-width: 991px){
    .search-bar form .search-bar__btn{
        background:$shiraz;
    }
}

#psagechecker_block #psagechecker-lightbox{ /* Pop-up verification age */
    background-color:$lightgrey !important;
    .age_verify_text_content{
        font-weight:700;
        input:focus{
            border-color:$shiraz;
        }
        button{
            background-color:$shiraz !important;
            &:active,
            &:hover{
                background-color:lighten($shiraz,10%) !important;
            }
            &:focus{
                background-color:darken($shiraz,10%) !important;
            }
            &#submitAge{
                margin-left:0;
            }
            &:after{
                display:none;
            }
            i{
                font-family: 'Material Icons' !important;
            }
        }
    }
}

#cookiebanner{ /* Bandeau cookies */
    visibility: visible !important;
    .cb-wrapper{ 
        .text-content{
            display: flex;
            margin: 0;
            align-items: center;
            i{
                margin-right:5px;
            }
        }
        .cb-links-wrapper{ /* boutons */
            .more_link{
                margin: 0;
                display: flex;
                align-items: center;
                padding: 0 4px;
            }
            .cb-btn-wrapper{
                a{
                    padding:8px;
                    &:after{
                        display:none;
                    }
                }
            }
        }
    }
}
#module-cookiebanner-settings{ /* Page Mes Preferences */
    section#content{
        font-size:0.95em;
        .module-learn-more span{
            font-size:0.9em;
        }
    }
}
@media screen and (max-width:1365px){
    #cookiebanner .cb-wrapper {
        flex-direction: column;
        .cb-links-wrapper{
            display:flex;
            justify-content: space-between;
        }
    }
}
@media screen and (max-width:767px){
    #cookiebanner .cb-wrapper{
        font-size:13px;
    }
}
@media screen and (max-width:480px){
    #cookiebanner .cb-wrapper {
        flex-direction: column;
        .cb-links-wrapper{
           flex-direction: row;
        }
    }
}

.comments_note .star_content{ /* Etoiles evaluation */
    .star{
        &.star_on{
            color:$shiraz;
        }
    }
    .comments_counter{
        font-size: 12px;
        margin-left: 4px;
        vertical-align: middle;
        font-family: Roboto;
    }
}

div.btn-to-top{ //Bouton retour top
    background:$shiraz;
}

.grey_banner{
    @include grey_banner;
}