.cart-hover-content {
    line-height: 1;
    padding: 15px 15px 25px;
    text-align: left;
    background: rgba($white, .98);
    color: $clr-six;
    height: auto;
    left: 0;
    right: 0;
    max-height: 545px;
    max-height: calc(100vh - 44px);
    overflow-y: auto;
    position: absolute;
    top: 100%;
    z-index: 100;
    box-shadow: 0px 2px 6px 0px rgba($black, .1);
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 20px);
    transition: opacity .5s, visibility .5s, transform .5s;
    ul {
        margin-bottom: 35px;
    }
}
.cart-preview{
    &:hover{
        .cart-hover-content{
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
        }
    }
}
.cart-wishlist-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid $clr-three;
    padding: 20px 0;
    > .shoppingcart_img, > .cart-info,.product-price,> .remove-from-cart{
        display: table-cell;
        vertical-align: middle;
    }
    > .shoppingcart_img{
        width: 100px;
        padding-right: 10px;
    }
    > .cart-info {
        padding-right: 5px;
        .product-name {
            color: $black;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
            > .quantity{
                &:after{
                    content: 'x';
                    font-size: 10px;
                }
            }
        }
    }
    > .product-price {
        color: $brand-primary;
        font-size: 30px;
    }
    > .remove-from-cart{
        width: 30px;
        text-align: right;
        i{
            font-size: 27px;
        }
    }
    .customizations{
        li {
            margin-bottom: 10px;
            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 45px;
            }
            span {
                padding: 0 5px;
            }
        }
    }
}
.cart-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.cart-subtotals{
    > div {
        display: inline-block;
        vertical-align: top;
        &:nth-child(2){
            display: none;
        }
    }
    .value, .label{
        display: block;
        margin-bottom: 5px;
        padding-right: 40px;
        text-transform: uppercase;
    }
    .label {
        font-size: 14px;
    }
    .value {
        color: $black;
        font-weight: 600;
        font-size: 18px;
    }
}
//max 991
@include media-breakpoint-down(md) {
    .cart-hover-content{
        max-height: calc(100vh - 51px);
        padding: 10px 10px 15px;
        .container {
            padding: 0;
        }
    }
    .cart-wishlist-item{
        padding: 10px;
        > .shoppingcart_img{
            width: 70px;
        }
        > .cart-info {
            .product-name {
                font-size: 12px;
            }
        }
        > .product-price{
            font-size: 18px;
        }
    }
    .cart-subtotals,.cart-wishlist-action{
        width: 100%;
    }
    .cart-wishlist-action{
        margin-top: 15px;
        text-align: center;
        .btn {
            font-size: 14px;
        }
    }
    .cart-subtotals{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        > div {
            max-width: 25%;
        }
        .label, .value{
            font-size: 14px;
            padding-right: 10px;
        }
    }
}
//max 480
@include media-breakpoint-down(xxs) {
    .cart-subtotals{
        .label {
            font-size: 12px;
        }
    }
    .cart-wishlist-item{
        > .shoppingcart_img{
            width: 60px;
        }
        > .cart-info{
            .product-name{
                font-size: 10px;
            }
        }
        > .product-price{
            font-size: 16px;
        }
    }
}