.cart-header {
    position: relative;
    > .inner-wrapper {
        display: block;
        position: relative;
        i {
            font-size: 18px;
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .cart-products-count {
        font-size: 8px;
        line-height: 1;
        line-height: 16px;
        position: absolute;
        top: -6px;
        left: 12px;
        display: block;
        min-width: 14px;
        height: 14px;
        text-align: center;
        color: $white;
        border-radius: 50%;
        background: $brand-primary;
    }
}
@include media-breakpoint-up(lg) {
    #_desktop_cart {
        position: static;
        margin-left: auto;
    }
    .blockcart{
        padding: 0 20px;
    }
}
@include media-breakpoint-down(md) {
    #_desktop_cart {
        flex: 1 0 0;
    }
    .cart-preview {
        padding-right: 10px;
    }
    .cart-header {
        > .inner-wrapper {
            i {
                font-size: 23px;
            }
        }
        .cart-products-count {
            left: 18px;
        }
    }
}