#header{
    .main-menu{
        #top-menu{
            li{
                > a{
                    padding:20px 10px;
                }
                &:hover > a{
                    color:$shiraz;
                }
                &#category-312{ /* offres d'automne */
                    > a{
                        color:$shiraz;
                    }
                }
                &#category-313{ /* primeurs */
                    > a{
                        color:#e8ba00;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:992px){
    #header{
        .inner-wrapper{
            align-items: stretch;
        }
        .main-menu{
            align-items: stretch;
            display: flex;
            justify-content: flex-end;
            #top-menu{
                align-items: stretch;
                > li{
                    display:flex;
                    align-items:stretch;
                    > a{
                        display:flex;
                        align-items:center;
                    }
                    > .sub-menu .top-menu{
                        > li{
                            margin-bottom:0.5em;
                            > a{
                                padding: 6px 0 !important;
                                width: 90%;
                                display: inline-block;
                                border-bottom: 1px solid #eee;
                            }
                        }
                    }
                }
                &[data-depth="0"] > li > a.with-ul:after{
                    margin-left:4px;
                }
            }
        }  
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
    #header .main-menu #top-menu{
        li{
            a{
                padding:20px 7px;
            }
        }
    }
}