.products{
    .product-miniature .thumbnail-container{
        .product-desc{ // Bloc contenant le titre, le resume, les notes, ...
            .product-title{
                font-weight:400;
                font-size:18px;
                line-height: 25px;
                height:50px;
                overflow-y:hidden;
            }
            .wine_color_and_origin{
                height:18px;
                line-height:18px;
                text-transform:uppercase;
                font-size: 12px;
            }
            .product_desc{ /* resume */
                display:block;
                font-size:13px;
                line-height:20px;
                color:$midgrey;
            }
            .product_unit_price{
                font-size: 12px;
                color:$midgrey;
            }
            .product_conditioning{
                font-size:13px;
                font-weight:700;
            }
        }
        .actions_buttons_container{ /* Boutons (ajout panier, acces fiche) */
            height:30px;
            width:100%;
            text-align:center;
            margin-top:1rem;
            form#add-to-cart-or-refresh{
                display:inline-block;
                vertical-align: middle;
                .add-cart{
                    display:inline-block;
                    height:100%;
                    width:30px;
                    margin:0 5px;
                    text-align: center;
                    padding:5px;
                    font-size:20px;
                    line-height: 20px;
                    color:$shiraz;
                    border:none;
                    transition:0.3s all;
                    &:hover{
                        transform:scale(1.2);
                    }
                }
            }
            .link-view{
                display:inline-block;
                height:100%;
                font-size:12px;
                line-height: 20px;
                width:auto;
                margin:0 5px;
                padding:5px;
                text-align:center;
                text-transform: uppercase;
                &:after{
                    display:none;
                }
            }
        }
        .product-flags{
            position: absolute;
            top:10px;
            left:10px;
            width:100%;
            text-align: left;
            li{
                display: inline-block;
                position:static;
                padding:5px;
                font-size:10px;
                line-height:1em;
                margin-right:5px;
                margin-bottom:5px;
                text-transform:uppercase;
                vertical-align:top;
                &.new, &.pack{
                    background:$shiraz;
                }
                &.is_selected{
                    background: #e8ba00;
                }
                &.is_ready_to_drink{
                    background: #faa500;
                }
                &.is_fruity{
                    background:#ff003c;
                    color:#fff;
                }
                &.is_rose{
                    background:#ffd1dc;
                }
                &.is_dry_and_white{
                    background:#e1ecdc;
                }
            }
            .discount-percentage{
                display: none; // pas de place pour afficher le label de remise (to do : voir avec GK)
            }
        }
        .product_labels{ /* medailles et du label bio */
            position:absolute;
            top:60px;
            right:10px;
            width:60px;
            height:auto;
            li{
                display:inline-block;
                margin-bottom:10px;
            }
        } 
    }
}
@media screen and (max-width:399px){
    #page .products{
        .product-miniature{
            width:100%;
            display:block;
        }
    }
}