// Variables custom

    //Fonts
$lora_font: "Lora", "Georgia", "Times New Roman", serif;

    //Couleurs
$shiraz: #aa1135;

$nav_height_desktop: 50px; //Hauteur fixe de la nav pour resolutions > 992px (lg et xl)