.star_content{
	.star{
		color: #d6d6d6;
		display: inline-block;
		font-size: 14px;
		line-height: 1;
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		a{
			display: block;
			position: absolute;
			text-indent: -5000px;
		}
		&:before{
			font-family: $second-icon-font;
			content: '\34';
		}
		&.star_on, &.star_hover{
			color: #ffd131;
		}
	}
}
.cancel {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px 0 0;
	cursor: pointer;
	color: $brand-primary;
	line-height: 1;
	font-size: 16px;
	a{
		line-height: 1;
		&:before{
			font-family: $first-icon-font;
			content: "\E909";
		}
	}
}
