.single {
	.blog_post_content_top {
		margin-bottom: 20px;
	}
	.post_meta {
		margin-bottom: 20px;
	}
	.post_title {
		font-size: 28px;
		font-weight: 600;
	}
}
.comment_list {
	padding: 0;
	list-style: none;
}