.carousel-products {
	&.owl-carousel {
		padding: 0 2px;
	}
	.owl-stage {
	    display: flex;
	    align-items: stretch;
	}
	.owl-item {
		&:hover {
			z-index: 1;
		}
	}
	.product-miniature, .thumbnail-container {
		height: 100%;
		min-height: 100%;
	}
}
.single-carousel {
	.owl-nav {
		.owl-prev {
			left: 15px;
		}
		.owl-next {
			right: 15px;
		}
	}
}
.carousel-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: $brand-primary;
    margin-bottom: 30px;
    &:after {
	    content: '';
	    display: inline-block;
	    vertical-align: 8px;
	    width: 100%;
	    margin-left: 15px;
	    border-top: 1px solid;
    }
}
.single-carousel {
	.product-miniature {
		padding-left: $grid-gutter-width-base/2;
		padding-right: $grid-gutter-width-base/2;
	}
	.owl-stage-outer {
		padding: 15px 0 0;
	}
}
@include media-breakpoint-down(sm) {
	.carousel-title {
		font-size: 20px;
	}
}
@include media-breakpoint-down(xs) {
	.carousel-title {
		font-size: 18px;
	    white-space: normal;
	    text-align: center;
	    margin-bottom: 20px;
	    &:after {
	    	display: none;
	    }
	}
}