.payment-logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	> p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		line-height: inherit;
	}
	ul {
		margin: 0 0 0 2px;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		margin-left: 12px;
		span {
			display: none;
		}
	}
}
@include media-breakpoint-down(sm) {
	.payment-logos {
		li {
			font-size: 20px;
		}
	}
}
@include media-breakpoint-down(xs) {
	.payment-logos {
		justify-content: center;
		order: 2;
		margin-bottom: 15px;
		ul {
			justify-content: center;
		}
	}
}
@include media-breakpoint-down(xxs) {
	.payment-logos {
		li {
			font-size: 18px;
			margin: 0 4px;
		}
	}
}