@charset "UTF-8";
/* Variables */
/* GENERALITES */
/* Titres */
h1, .h1 {
  font-size: 3rem;
}

/* Liens */
a:focus {
  color: #aa1135;
  text-decoration: none;
}
a:hover, a:active {
  color: #930f2e;
  text-decoration: none;
}

/* Boutons */
button.btn, a.btn, input.btn {
  background: #aa1135;
}
button.btn.disabled, button.btn:disabled, a.btn.disabled, a.btn:disabled, input.btn.disabled, input.btn:disabled {
  background: #d81643;
}
button.btn:hover, button.btn:focus, button.btn:active, a.btn:hover, a.btn:focus, a.btn:active, input.btn:hover, input.btn:focus, input.btn:active {
  background: #7c0c27;
  box-shadow: none;
}

.grey_btn {
  display: inline-block;
  padding: 8px 6px;
  color: #fff;
  background: #898989;
  border: 1px solid transparent;
  transition: 0.3s all;
  font-size: 13px;
}
.grey_btn:hover, .grey_btn:focus, .grey_btn:active {
  background: #fff;
  border-color: #898989;
  color: #898989;
}

/* Formulaires */
form .form-control:focus {
  /* input, select, etc */
  border-color: #aa1135;
  border-width: 1px;
}
form .input-group .input-group-btn > .btn {
  /* pseudo-bouton upload fichier */
  background: #aa1135;
}
form .input-group .input-group-btn > .btn:hover {
  background: #7c0c27;
}
form .custom-checkbox input[type="checkbox"] + span {
  /* Checkbox */
  border: 1px solid #898989;
}
form .custom-checkbox input[type="checkbox"]:checked + span {
  border-color: #131331;
  background: #aa1135;
}
form .custom-radio input[type="radio"]:checked + span {
  /* radios */
  border-color: #000;
  -webkit-box-shadow: inset 0 0 0 6px #aa1135;
  box-shadow: inset 0 0 0 6px #aa1135;
}

/* Modals */
.modal .modal-content .close:hover {
  background: #aa1135;
}

/* Breadcrumb */
#page .breadcrumb li a:hover, #page .breadcrumb li:last-child a {
  color: #aa1135;
}

/* Tableaux */
table.table .thead-default th {
  background: #aa1135;
  color: #fff;
}

/* HEADER */
#header {
  /* Nav */
}
#header nav.header-nav {
  background-color: #000;
  /* Telephone header */
  /* Bloc panier */
  /* Recherche */
}
#header nav.header-nav #_desktop_contact_link .header__contact #header_contact_phone_label {
  margin-right: 10px;
}
#header nav.header-nav #_desktop_contact_link .header__contact #header_contact_phone_value {
  font-weight: 700;
}
#header nav.header-nav #_desktop_contact_link .header__contact #header_contact_phone_value a:hover {
  color: #aa1135;
}
#header nav.header-nav #_desktop_contact_link .header__contact #header_contact_phone_value a img {
  display: inline-block;
  margin-right: 5px;
  height: 14px;
  width: auto;
  position: relative;
  top: -3px;
}
#header nav.header-nav #_desktop_cart .blockcart .cart-header {
  /* Icone */
}
#header nav.header-nav #_desktop_cart .blockcart .cart-header .inner-wrapper {
  transition: 0.3s all;
}
#header nav.header-nav #_desktop_cart .blockcart .cart-header .inner-wrapper:hover {
  color: #fff;
  transform: scale(1.1);
}
#header nav.header-nav #_desktop_cart .blockcart .cart-header .inner-wrapper .cart-products-count {
  /* compeur produits */
  background: #aa1135;
}
#header nav.header-nav #_desktop_cart .blockcart .cart-hover-content {
  /* Recap panier */
}
#header nav.header-nav #_desktop_cart .blockcart .cart-hover-content ul li.cart-wishlist-item .product-price {
  color: #aa1135;
}
#header nav.header-nav #_desktop_cart .blockcart .cart-hover-content ul li.cart-wishlist-item .remove-from-cart:hover {
  color: #131313;
}
#header nav.header-nav #_desktop_search_bar .search-btn-toggle {
  padding: 5px 10px 5px 140px;
  border: 1px solid #5c5c5c;
}
#header nav.header-nav #_desktop_search_bar .search-btn-toggle:hover {
  color: #aa1135;
}

body.is-not-index #header {
  background: #000;
}

@media (min-width: 992px) {
  #header nav.header-nav {
    height: 50px;
    padding: 8px 0;
    border-bottom: 0;
  }
  #header nav.header-nav .search-block form.search-form {
    background: rgba(170, 17, 53, 0.92);
    padding: 10vh 10vw;
  }
  #header nav.header-nav .search-block .search-close {
    top: 10vh;
    right: 10vw;
    width: 40px;
    height: 40px;
    background: none;
    font: 40px/1 "fontello";
    color: #fff;
  }
  #header nav.header-nav .search-block .search-field input.input-text {
    color: #fff;
    border-bottom: 2px solid #e5e5e5;
    font-family: "Lora", "Georgia", "Times New Roman", serif;
  }
  #header nav.header-nav .search-block .search-field input.input-text + .search-btn {
    color: #fff;
  }
  #header nav.header-nav .search-block .search-field input.input-text:focus {
    border-color: #fff;
    color: #fff;
  }
  #header nav.header-nav .search-block .search-field input.input-text:focus + .search-btn {
    color: #fff;
  }
}
/* HOMEPAGE */
#index #wrapper .headerslider {
  /* Slider */
}
#index #wrapper .headerslider .header-slide .headerslider-figure {
  padding-top: 15%;
}
#index #wrapper .headerslider .header-slide .headerslider-figure .caption-description {
  height: 100%;
  display: flex;
  align-items: flex-end;
  top: unset;
  bottom: 0;
  transform: translate(0, 0);
  padding: 15px 0 0 0;
}
#index #wrapper .headerslider .header-slide .headerslider-figure .caption-description .container {
  align-items: end;
}
#index #wrapper .headerslider .header-slide .headerslider-figure .caption-description .container .image img {
  max-height: 60vh;
}
#index #wrapper #htmlbanners10 {
  /* Banniere engagements */
  background-image: url("/themes/vigouroux/assets/img/banniere_engagements.jpg");
  margin: 10rem 0;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner {
  padding-left: 50px;
  padding-right: 50px;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner {
  margin: 0 25px;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .reassurance_picto img {
  width: 80px;
  height: auto;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description p {
  font-size: 13px;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description p.title-one {
  font-size: 15px;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .headline-section {
  /* Titre du bloc */
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin: 0 0 0.5em 0;
  line-height: 1.25em;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description-section {
  /* Phrase sous titre bloc */
  max-width: unset;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .btn {
  /* Bouton "Voir tout" */
  background: #aa1135;
}
#index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .btn:focus, #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .btn:active, #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .btn:hover {
  background: #d81643;
}
#index #wrapper #htmlbanners1 {
  /* Module "Top Banners" : vins de corbi├¿res, cuv├®es prestige et specialiste vins occitanie */
}
#index #wrapper #htmlbanners1 .specialist-banner {
  background-color: #f0f0f0;
  background-image: url(../img/croix_occitane_logo.gif), url(../img/verre_vin_rouge.jpg);
  background-position: 5% 90%, right bottom;
  background-repeat: no-repeat;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
#index #wrapper #htmlbanners1 .specialist-banner .banner-description > .container {
  padding: 0 10%;
}
#index #wrapper #htmlbanners1 .specialist-banner .banner-description .headline-section {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 5rem;
  margin: 0 0 4rem 0;
}
#index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_text {
  margin: 0 0 4rem 0;
  font-size: 14px;
  line-height: 2em;
  color: #000;
}
#index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_logos {
  text-align: center;
  margin-bottom: 8rem;
}
#index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_logos img {
  display: inline-block;
  margin: 0 15px;
}
#index #wrapper .testimonials-wrapper {
  /* Temoignages */
  background-image: none;
  background-color: #000;
}
#index #wrapper .testimonials-wrapper .headline-section {
  /* titre */
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  color: #fff;
}
#index #wrapper .testimonials-wrapper .testimonials-item .testimonials-description {
  color: #fff;
}
#index #wrapper .testimonials-wrapper .testimonials-item .testimonials-description:before {
  color: #aa1135;
}
#index #wrapper .testimonials-wrapper .testimonials-item .testimonials-description .testimonials-author {
  color: #aa1135;
}
#index #wrapper .home_blog_post_area {
  /* Blog */
  margin-top: 0;
  padding-top: 15rem;
  padding-bottom: 12rem;
}
#index #wrapper .home_blog_post_area .home_blog_title {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 8rem;
}
#index #wrapper #htmlbanners3 {
  /* Video */
  margin-top: 0;
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description {
  top: 48%;
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description .headline-section {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description h3 {
  font-size: 6rem;
  line-height: 1.5em;
  margin-bottom: 0;
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description h4 {
  font-size: 3rem;
  line-height: 1em;
  margin-bottom: 1em;
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description .description-section {
  font-size: 18px;
  line-height: 24px;
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__poster {
  background-image: url("../img/homepage_video_bg.jpg");
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__button-box .video-promo__play em {
  color: #aa1135;
}
#index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__button-box .video-promo__play em:hover {
  border-color: #aa1135;
  -webkit-box-shadow: inset 0 0 0 2em #aa1135;
  box-shadow: inset 0 0 0 2em #aa1135;
  color: #fff;
}
#index #wrapper #manufacturers-home {
  /* Listes des AOC (marques) */
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
#index #wrapper #manufacturers-home .headline-section {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
}
#index #wrapper #manufacturers-home .description-section {
  font-size: 18px;
  max-width: unset;
}
#index #wrapper #manufacturers-home .manufacturers-list {
  margin: 0;
  text-align: center;
}
#index #wrapper #manufacturers-home .manufacturers-list li {
  display: block;
  width: 20%;
  float: left;
  padding: 0;
  margin: 0;
}
#index #wrapper #manufacturers-home .manufacturers-list li img {
  width: 100px;
  height: auto;
}

@media screen and (max-width: 1365px) {
  #index #wrapper #htmlbanners1 .specialist-banner {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-size: 20% auto,auto 55%;
  }
}
@media screen and (max-width: 1199px) {
  #index #wrapper #htmlbanners3 {
    /* Video */
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description {
    top: 10%;
    transform: translate(0, 0);
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__button-box {
    margin-top: 4%;
  }
}
@media screen and (max-width: 1023px) {
  #index #wrapper #htmlbanners1 .specialist-banner {
    /* Bannieres Corbieres / Prestige / Specialistes */
    background-size: 20% auto,auto 50%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .headline-section {
    font-size: 5rem;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner {
    /* Engagements */
    padding-left: 0;
    padding-right: 0;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner {
    margin: 0 5px;
  }
  #index #wrapper #htmlbanners3 {
    /* Video */
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description {
    top: 6%;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description h4 {
    margin-bottom: 0.5em;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description .description-section {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__button-box {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  #index #wrapper #htmlbanners10 .htmlbanners10-inner {
    /* Engagements */
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner {
    margin: 0 10%;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description {
    overflow: hidden;
    clear: both;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .headline-section,
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description-section {
    text-align: left;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .reassurance_picto {
    float: left;
    width: 80px;
    margin-right: 40px;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description {
    float: left;
    width: calc(100% - 120px);
    text-align: left;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description p.title-one {
    margin-top: 0;
  }
  #index #wrapper #htmlbanners1 .specialist-banner {
    /* Bannieres Corbieres / Prestige / Specialistes */
    background-size: 30% auto;
    background-image: url(../img/verre_vin_rouge.jpg);
    background-position: right bottom;
    padding-bottom: 8rem;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description > .container {
    padding: 0;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description .headline-section {
    font-size: 4rem;
    margin: 0 0 2rem 0;
    text-align: left;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_text {
    margin: 0 0 2rem 0;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    padding-right: 15%;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_logos {
    text-align: left;
    margin-bottom: 3rem;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_logos img {
    height: 100px;
    width: auto;
    margin: 0 50px 10px 0;
  }
  #index #wrapper #htmlbanners3 {
    /* Video */
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description {
    height: 100%;
    top: 0;
    padding: 5% 0;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description h3 {
    font-size: 3rem;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description h4 {
    font-size: 1.5rem;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description .description-section {
    display: none;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description .video-promo__button-box {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  #index #wrapper #htmlbanners10 .htmlbanners10-inner {
    /* Engagements */
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner {
    margin: 0 5%;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .headline-section {
    font-size: 36px;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description-section {
    margin-bottom: 30px;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .reassurance_picto {
    width: 60px;
    margin-right: 20px;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .reassurance_picto img {
    width: 100%;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description {
    width: calc(100% - 80px);
  }
  #index #wrapper #htmlbanners1 .specialist-banner {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_logos img {
    height: 80px;
    width: auto;
    margin: 0 25px 10px 0;
  }
}
@media screen and (max-width: 399px) {
  #index #wrapper #htmlbanners10 .htmlbanners10-inner {
    /* Engagements */
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .reassurance_picto {
    width: 50px;
    margin-right: 10px;
  }
  #index #wrapper #htmlbanners10 .htmlbanners10-inner .feature-item-inner .banner-description .description {
    width: calc(100% - 60px);
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description .headline-section {
    font-size: 3rem;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_text {
    padding-right: 0;
  }
  #index #wrapper #htmlbanners1 .specialist-banner .banner-description #specialist_banner_logos img {
    display: block;
    width: auto;
    height: auto;
    max-width: 160px;
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper {
    /* Video */
  }
  #index #wrapper #htmlbanners3 .video-promo__wrapper .video-promo__description .video-promo__button-box .video-promo__play em {
    width: 3em;
    height: 3em;
  }
}
/* FOOTER */
#footer .footer-container #facebook_block {
  /* Blocs FB et liens reseaux sociaux */
}
#footer .footer-container #facebook_block .block-social {
  display: block;
  max-width: 100%;
  margin: 30px 0;
  padding-left: 0;
  padding-right: 0;
  animation: unset;
}
#footer .footer-container #facebook_block .block-social ul {
  display: block;
  text-align: left;
}
#footer .footer-container #facebook_block .block-social ul li a:hover {
  background: none;
}
#footer .footer-container #facebook_block .block-social ul li.facebook {
  display: none;
}
#footer .footer-container .block_newsletter {
  /* Formulaire Newsletter */
}
#footer .footer-container .block_newsletter h3 {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
}
#footer .footer-container #footer_logo {
  max-height: 40px;
  display: inline-block;
  vertical-align: baseline;
}
#footer .footer-container .footer-two {
  /* Copyright et logos paiement */
  font-size: 10px;
  line-height: 35px;
}
#footer .footer-container .footer-two .copyright span:first-child {
  margin-right: 40px;
}
#footer .footer-container .footer-two .payment-logos {
  text-transform: uppercase;
}
#footer .footer-container .footer-two .payment-logos img {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -5px;
}

@media (max-width: 575px) {
  #footer .footer-container .footer-two .copyright {
    order: unset;
  }
  #footer .footer-container .footer-two .copyright p {
    line-height: 1.6em;
    margin-bottom: 0.5em;
  }
  #footer .footer-container .footer-two .copyright p span {
    display: inline-block;
    width: 100%;
  }
  #footer .footer-container .footer-two .copyright p span:first-child {
    margin-right: 0;
  }
}
/* PAGES */
/* Tunnel */
#cart .cart-grid .cart-overview {
  /* Page recapitulative */
}
#cart .cart-grid .cart-overview .cart-items .cart-item .product-line-info .value {
  color: #aa1135;
}
#cart .cart-grid .cart-overview .cart-items .cart-item .product-line-actions {
  /* input quantite */
  /* bouton + / - */
}
#cart .cart-grid .cart-overview .cart-items .cart-item .product-line-actions .js-cart-line-product-quantity:focus {
  border-color: #aa1135;
}
#cart .cart-grid .cart-overview .cart-items .cart-item .product-line-actions .btn {
  background: #aa1135;
}
#cart .cart-grid .cart-overview .cart-items .cart-item .product-line-actions .btn:hover {
  background: #7c0c27;
}
#cart .cart-grid .cart-overview .cart-items .cart-item .remove-from-cart:hover {
  color: #898989;
}

#checkout {
  /* 4 etapes */
  /* Colonne de gauche */
}
#checkout .checkout-step {
  border: none;
  /* Infos personnelles */
}
#checkout .checkout-step .step-title {
  background: #aa1135;
}
#checkout .checkout-step .step-title .step-number {
  padding-right: 0;
  display: inline-block;
}
#checkout .checkout-step .step-title .step-number:after {
  content: "-";
  margin: 0 5px;
}
#checkout .checkout-step .step-title .step-edit {
  font-size: 0;
}
#checkout .checkout-step#checkout-personal-information-step ul[role="tablist"] li a {
  /* Switch invite / connexion-inscription */
  border-color: #131313;
  border-width: 1px;
  border-radius: 0;
}
#checkout .checkout-step#checkout-personal-information-step ul[role="tablist"] li a.active, #checkout .checkout-step#checkout-personal-information-step ul[role="tablist"] li a:hover {
  background: #898989;
}
#checkout .checkout-step#checkout-addresses-step {
  /* Adresses */
}
#checkout .checkout-step#checkout-addresses-step .address-item.selected {
  border: 2px solid #898989;
}
#checkout .checkout-step#checkout-addresses-step .address-item .address-footer a {
  background: #aa1135;
}
#checkout .checkout-step#checkout-addresses-step .address-item .address-footer a:hover {
  background: #d81643;
}
#checkout .checkout-step#checkout-addresses-step .address-item .address-footer a:focus, #checkout .checkout-step#checkout-addresses-step .address-item .address-footer a:active {
  background: #7c0c27;
  color: #fff;
}
#checkout .checkout-step#checkout-addresses-step .add-address a {
  display: inline-block;
  line-height: 1.4em;
  padding: 4px 8px;
  color: #fff;
  background: #898989;
  border: 1px solid transparent;
}
#checkout .checkout-step#checkout-addresses-step .add-address a:hover {
  background: #f2f2f2;
  color: #131313;
  border-color: #131313;
}
#checkout .checkout-step#checkout-addresses-step .add-address a i {
  position: relative;
  top: -2px;
}
#checkout .checkout-step#checkout-delivery-step {
  /* Livraison */
}
#checkout .checkout-step#checkout-delivery-step .delivery-options-list .delivery-options .delivery-option {
  background: none;
}
#checkout .checkout-step#checkout-delivery-step .delivery-options-list .delivery-options #delivery_abroad_warning {
  background: #f2f2f2;
  padding: 15px;
  margin: 15px 0;
}
#checkout .checkout-step#checkout-delivery-step .delivery-options-list .delivery-options #delivery_abroad_warning strong {
  color: #aa1135;
}
#checkout .checkout-step#checkout-payment-step {
  /* Paiement */
}
#checkout #js-checkout-summary .cart-summary-products a[data-target="#cart-summary-product-list"] {
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  background: #898989;
  border: 1px solid transparent;
}
#checkout #js-checkout-summary .cart-summary-products a[data-target="#cart-summary-product-list"]:hover {
  border-color: #131313;
}
#checkout #js-checkout-summary .cart-summary-products a[data-target="#cart-summary-product-list"][aria-expanded="true"] {
  background: #fff;
  color: #898989;
}

#order-confirmation {
  /* Confirmation de commande */
}
#order-confirmation #main .h1 {
  font-weight: 700;
  color: #aa1135;
}
#order-confirmation #main .h3 {
  color: #aa1135;
}
#order-confirmation #main #content-hook_payment_return #check_address {
  display: inline-block;
  padding: 0.75rem 0;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
}

/* Contact */
#contact .contact-rich {
  /* Infos de contact (colonne) */
}
#contact .contact-rich h4 {
  color: #aa1135;
}
#contact .contact-rich .block .icon {
  color: #aa1135;
}
#contact .contact-rich .block .data {
  color: #000;
}
#contact .contact-form {
  /* Formulaire */
}
#contact .contact-form #contact_form_page_title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #aa1135;
  margin-bottom: 1rem;
}

/* Mon compte  */
#my-account .page-header h1 {
  text-align: center;
  font-weight: 700;
  color: #aa1135;
}
#my-account #content .links a {
  transition: 0.2s all;
}
#my-account #content .links a .link-item {
  transition: inherit;
  border: 2px solid #898989;
}
#my-account #content .links a:hover span {
  background: #aa1135;
  color: #fff;
}
#my-account #content .links a:focus {
  outline: none;
}
#my-account #content .links a:focus span {
  color: #aa1135;
}

/* Adresses */
#addresses #customer_addresses_list {
  display: flex;
  flex-wrap: wrap;
}
#addresses #customer_addresses_list .customer_address_item {
  display: flex;
  position: relative;
}
#addresses #customer_addresses_list .customer_address_item .address {
  padding: 25px 20px 60px 20px;
  width: 100%;
  border: 1px solid #898989;
}
#addresses #customer_addresses_list .customer_address_item .address .address-footer {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: calc(100% - 40px);
  text-align: center;
}
#addresses #customer_addresses_list .customer_address_item .address .address-footer a {
  background: #aa1135;
}
#addresses #customer_addresses_list .customer_address_item .address .address-footer a:hover {
  background: #d81643;
}
#addresses .addresses-footer {
  text-align: center;
}
#addresses .addresses-footer a {
  font-weight: 700;
  background: #aa1135;
}
#addresses .addresses-footer a:hover {
  background: #7c0c27;
}

/* Historique de commandes */
#history table td.order-actions a {
  font-weight: 500;
}
#history table td.order-actions a:hover, #history table td.order-actions a:focus, #history table td.order-actions a:active {
  color: #aa1135;
}

/* Mes donnees perso (RGPD dans mon compte) */
#module-psgdpr-gdpr .psgdprinfo17 .psgdprgetdatabtn17 {
  float: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Editorial (CMS) */
#cms #content h2 {
  color: #aa1135;
}
#cms #content > section {
  margin-bottom: 30px;
}
#cms #content > section:last-child {
  margin-bottom: 0;
}
#cms #content ul {
  list-style-type: disc;
  padding-left: 30px;
}
#cms #page .page-footer {
  display: none;
}
#cms.cms-id-4 {
  /* Notre histoire */
}
#cms.cms-id-4 .page-header {
  display: none;
}
#cms.cms-id-4 #about_us_intro h1 {
  text-transform: uppercase;
}
#cms.cms-id-4 #about_us_intro p {
  color: #7d7d7d;
}
#cms.cms-id-4 .about_us_row {
  padding: 20px 0;
}
#cms.cms-id-4 .about_us_row .about_us_date {
  color: #aa1135;
  font-weight: 700;
  font-size: 24px;
  line-height: 1em;
  margin-bottom: 0.5em;
}
#cms.cms-id-4 .about_us_row p {
  line-height: 18px;
  margin-bottom: 0.25em;
}
#cms.cms-id-4 .about_us_row figure {
  margin: 20px 0 0 0;
}
#cms.cms-id-4 .about_us_row figure.about_us_img_banner {
  margin: 0;
}
#cms.cms-id-4 .about_us_row figure figcaption {
  font-weight: 100;
  font-style: italic;
  margin-top: 20px;
  color: #aa1135;
}
#cms.cms-id-9 {
  /* Service client */
}
#cms.cms-id-9 .customer_service_section {
  display: flex;
}
#cms.cms-id-9 .customer_service_section .customer_service_section_content {
  border: 1px solid #898989;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 40px;
  margin: 30px;
}
#cms.cms-id-9 .customer_service_section .customer_service_section_content .customer_service_section_icon {
  margin-bottom: 20px;
}
#cms.cms-id-9 .customer_service_section .customer_service_section_content .customer_service_section_icon i {
  font-size: 10rem;
  color: #aa1135;
}
#cms.cms-id-9 .customer_service_section .customer_service_section_content > div:last-child a:hover {
  color: #aa1135;
}
#cms.cms-id-9 .customer_service_section .customer_service_section_content > div:last-child p {
  font-size: 14px;
}
#cms.cms-id-9 .customer_service_section .customer_service_section_content > div:last-child p:first-child {
  color: #aa1135;
}

@media screen and (max-width: 1024px) {
  #cms.cms-id-9 {
    /* Service client */
  }
  #cms.cms-id-9 .customer_service_section .customer_service_section_content {
    padding: 20px 20px;
    margin: 15px;
  }
}
@media (min-width: 992px) {
  #cms.cms-id-4 .about_us_row.about_us_banner_img_row {
    /* Notre histoire */
    padding: 20px 0 0 0;
  }
}
@media (max-width: 991px) {
  #cms.cms-id-4 .about_us_row {
    /* Notre histoire */
    padding: 20px 15px;
  }
  #cms.cms-id-4 .about_us_row.about_us_banner_img_row .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  #cms.cms-id-9 {
    /* Service client */
  }
  #cms.cms-id-9 .customer_service_section .customer_service_section_content .customer_service_section_icon {
    margin-bottom: 10px;
  }
  #cms.cms-id-9 .customer_service_section .customer_service_section_content .customer_service_section_icon i {
    font-size: 6rem;
  }
}
/* Nos caves (aka Magasins) */
#stores .store-item .store-name {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  margin-bottom: 15px;
  color: #aa1135;
}
#stores .store-item .material-icons {
  color: #aa1135;
}
#stores .store-item address {
  margin-bottom: 1.5rem;
}
#stores .store-item .strore-phone,
#stores .store-item .strore-email {
  margin: 0.25rem 0;
  line-height: 1.25em;
}
#stores .store-item .store-infos {
  color: #898989;
}

@media screen and (max-width: 768px) {
  #stores .store-item .store-picture {
    margin-bottom: 20px;
  }
  #stores .store-item .store-picture img {
    margin-right: auto;
    margin-left: auto;
  }
  #stores .store-item .store-contact {
    text-align: center;
    margin-bottom: 20px;
  }
  #stores .store-item .store-infos p {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  #stores .store-item .store-name {
    font-size: 24px;
  }
}
/* Sitemap */
#sitemap h2 {
  margin-bottom: 10px;
  color: #aa1135;
}
#sitemap a:hover {
  color: #aa1135;
}
#sitemap ul.nested {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #f0f0f0;
}

/* DIVERS */
/* Blog */
/* Blog */
/* Liste d'articles (page blog et hoempage */
.blog_posts_list {
  /* Liste */
}
.blog_posts_list .blog_post .blog_post_content .blog_post_content_bottom {
  padding: 0 10px;
}
.blog_posts_list .blog_post .blog_post_content .blog_post_content_bottom .post_title {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
}
.blog_posts_list .blog_post .blog_post_content .blog_post_content_bottom .post_title a:hover {
  color: #aa1135;
}
.blog_posts_list .blog_post .blog_post_content .blog_post_content_bottom .read_more:hover {
  color: #aa1135;
}
.blog_posts_list .blog_post .blog_post_content .blog_post_content_bottom .read_more:hover:after {
  background: #aa1135;
  border-color: #aa1135;
}
.blog_posts_list .blog_post .blog_post_content .blog_post_content_bottom .post_meta {
  border-top: none;
}

#module-xipblog-archive .breadcrumb,
#module-xipblog-single .breadcrumb {
  display: none;
}

#module-xipblog-archive {
  /* Page Blog */
}
#module-xipblog-archive #page .h1 {
  text-align: center;
  font-family: Lora;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 0.5em;
}

#module-xipblog-single {
  /* Article */
}
#module-xipblog-single .blog_post_content_bottom {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f5f5f5;
}
#module-xipblog-single .blog_post_content_bottom .post_title {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  margin-bottom: 0.5em;
}
#module-xipblog-single .blog_post_content_bottom .post_meta {
  margin-bottom: 20px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0;
}
#module-xipblog-single .blog_post_content_bottom .post_meta > div {
  line-height: 1em;
}
#module-xipblog-single .comments_area {
  margin: 0 0 3rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f5f5f5;
}
#module-xipblog-single .comments_area .comments_title {
  color: #aa1135;
}
#module-xipblog-single #respond .comment_reply_title {
  color: #aa1135;
}

@media screen and (max-width: 399px) {
  #module-xipblog-single .comments_area .comment_list .comment_author {
    /* Article */
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
#page .price {
  color: #aa1135;
}

#page .page-footer {
  text-align: center;
  padding-top: 30px;
}
#page .page-footer a {
  background: #898989;
}
#page .page-footer a:hover {
  background: #a3a3a3;
}

.form-footer {
  text-align: center;
}

body.search-fixed .ui-menu {
  background: #fff;
  border-radius: 0;
  box-shadow: 0px 3px 6px 0px rgba(40, 40, 40, 0.65);
}
body.search-fixed .ui-menu .ui-menu-item a {
  color: #000;
  border-radius: 0;
}
body.search-fixed .ui-menu .ui-menu-item a.ui-state-focus {
  background: #f5f5f5;
}

body #page .page-not-found #_desktop_search_bar {
  /* Formulaire de recherche 404 */
}
body #page .page-not-found #_desktop_search_bar input.input-text {
  border-radius: 0;
}
body #page .page-not-found #_desktop_search_bar input.input-text:focus {
  border-color: #aa1135;
}
body #page .page-not-found #_desktop_search_bar .search-btn {
  background: #aa1135;
  border-radius: 0;
  margin-left: 0;
}

@media (max-width: 991px) {
  .search-bar form .search-bar__btn {
    background: #aa1135;
  }
}
#psagechecker_block #psagechecker-lightbox {
  /* Pop-up verification age */
  background-color: #f0f0f0 !important;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content {
  font-weight: 700;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content input:focus {
  border-color: #aa1135;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content button {
  background-color: #aa1135 !important;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content button:active, #psagechecker_block #psagechecker-lightbox .age_verify_text_content button:hover {
  background-color: #d81643 !important;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content button:focus {
  background-color: #7c0c27 !important;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content button#submitAge {
  margin-left: 0;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content button:after {
  display: none;
}
#psagechecker_block #psagechecker-lightbox .age_verify_text_content button i {
  font-family: 'Material Icons' !important;
}

div.btn-to-top {
  background: #aa1135;
}

.grey_banner {
  background-color: #f8f8f8;
}

/*# sourceMappingURL=custom.css.map */
