#body {
    background-color: #F7F7F7;
}
  
#layout-error {
    text-align: center;
    margin: 50px 0 0 0;
    background-color: #131313;
    border:10px solid #aa1135; 
}
#layout-error .logo {
    margin: 0 0 31px 0;
    text-align: center;
}
#layout-error h1 {
    font: 32px sans-serif;
    color: #f0f0f0;
    padding: 0 0 14px 0;
    margin: 0 0 19px 0;
}
#layout-error h2 {
    font: 20px sans-serif;
    color: #333;
    padding: 0 0 14px 0;
    margin: 0 0 19px 0;
}
#layout-error .page-content {
    font: 18px sans-serif;
    color: #f0f0f0;
    text-align: center;
}
#layout-error {
    padding: 50px 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px) {
    #layout-error {
        padding: 50px;
    }
}
@media (min-width: 1200px) {
    #layout-error {
      width: 500px; 
    }
}
@media (min-width: 768px) {
    #layout-error {
      width: 500px;
    }
}
@media (min-width: 992px) {
    #layout-error {
        width: 500px;
    }
}


  

  