@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

#block-reassurance {
    margin-top: 30px;
    img {
        vertical-align: top;
        display: table-cell;
        min-width: 25px;
    }
    li {
        margin-bottom: 10px;
    }
    .block-reassurance-item {
        padding: 14px 15px;
        border: 1px solid $clr-three;
        display: table;
        width: 100%;
        border-radius: 4px;
    }
    span {
        font-size: 12px;
        padding-left: 10px;
        vertical-align: top;
        display: table-cell;
        line-height: 1.5;
    }
}
//product page
.page-product{
    #block-reassurance {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -10px;
        }
        li {
            padding: 0 10px;
            width: 100%;
            flex: 0 0 100%;
        }
    }
}
.cart-grid-right {
    #block-reassurance {
        margin-top: 10px;
    }
}
//max 991
@include media-breakpoint-down(md) {
    .cart-grid-right{
        #block-reassurance {
            ul {
              display: flex;
              margin: 0 -10px;
            }
            li {
                padding: 0 10px;
            }
        }
    }
}
//max 575
@include media-breakpoint-down(xs) {
    .page-product, .cart-grid-right{
        #block-reassurance {
            ul{
                display: block;
            }
        }
    }
}