@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

button{
    cursor: pointer;
    outline: none!important;
}
.btn,
.btn-primary,
.btn-secondary,
.btn-tertiary {
    background: $brand-primary;
    border: none;
    border-radius: 0;
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    padding: 22px 32px;
    padding: 1.1em 1.4em;
    position: relative;
    line-height: 1.25;
    cursor: pointer;
    white-space: normal;
    text-align: center;
    &:after {
        font-family: $second-icon-font;
        content: '\3a';
        font-size: 7px;
        vertical-align: 16%;
        display: inline-block;
        padding-left: 1.4em;
    }
    &.disabled, &:disabled {
        background: $brand-primary;
    }
    i {
        line-height: 1;
    }
    &:hover, &:focus{
        background: lighten($brand-primary, 7%);
        color: $white;
    }
    &:active{
        background: darken($brand-primary, 15%);
        color: $white;
        outline: none!important;
    }
    &.big {
        font-size: 16px;
        padding: 1.407em 2em;
    }
}
.btn-primary {
    &.disabled, &:disabled{
        border: none
    }
}

.btn {
    &.disabled, &:disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }
}

@include media-breakpoint-down(sm){
    .btn,
    .btn-primary,
    .btn-secondary,
    .btn-tertiary {
        font-size: 12px;
        padding-left: 2em;
        padding-right: 2em;
        &.big {
            font-size: 14px;
        }
    }
}
.add-cart {
    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }
}