@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

@include media-breakpoint-up(lg) {
	#facebook_block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.block-contact-title, .fb-like-box {
			width: 300px;
		}
	}
	.facebook-fanbox {
		text-align: right;
	}
}
@include media-breakpoint-down(md) {
	#facebook_block {
		.title {
			margin-bottom: 15px;
		}
		.fb_iframe_widget {
			margin: 0 -5px;
		}
	}
}