@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

.manufacturers-home {
	margin-top: 115px;
	.carousel-view {
	    padding: 0 2%;
	    white-space: nowrap;
	    .manufacturer-items {
	    	display: inline-block;
	    	vertical-align: top;
	    	white-space: normal;
	    }
	}
	.manufacturer-items {
		text-align: center;
		padding: 0 26px;
		img {
			display: inline-block;
		}
	}
}
.owl-item {
	.manufacturer-items {
		width: 100%;
	}
}
@include media-breakpoint-down(md) {
	.manufacturers-home {
		margin-top: 40px;
	}
}
@include media-breakpoint-down(xs) {
	.manufacturers-home {
		.carousel-view {
		    padding: 0;
		}
		.manufacturer-items {
			padding: 0 15px;
		}
	}
}