@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

.header_user_info__toggle-btn{
	cursor: pointer;
	display: none;
}
@include media-breakpoint-up(lg) {
	.header_user_info {
		a {
			padding: 12px 0 12px 20px;
			display: inline-block;
		}
	}
}
@include media-breakpoint-down(md) {
	.header_user_info {
		a {
			padding: 0 15px 0 0;
		}
	}
}
@include media-breakpoint-down(xs) {
	.header_user_info {
		a {
			font-size: 13px;
		}
	}
}