.manufacturer-items {
	> a{
		display: block;
	    transform: scale(0.95, 0.95);
	    transition: transform .3s, opacity .3s;
	    will-change: opacity, transform;
	    &:hover {
		    opacity: 0.5;
		    transform: scale(1, 1);
	    }
	}
}
