.l-column{
	.product-flags{
		.product-flag{
			position: absolute;
			z-index: 1;
		}
		.new {
			top: 10px;
			left: 10px;
		}
		.on-sale{
			top: 10px;
			right: 10px;
		}
		.pack {
			left: 10px;
			bottom: 10px;
		}
		.online-only {
			bottom: 10px;
			left: 10px;
			~ .pack {
				bottom: 40px;
			}
		}
	}
}